/* * {
        box-sizing: border-box;
      } */
html {
  --s: 150px; /* control the size */
  
  background:
    linear-gradient(135deg,#0000 18.75%,#5E412F 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,#5E412F -6.25% 6.25%,#FCEBB6 0 18.75%);
  background-size: var(--s) var(--s); 
}
.first {
  min-height: 100vh;
  position: relative;
}

.first_video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-img {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  padding: 0.08em;
}
.aligncenter {
  text-align: center;
  box-shadow: 0 0 10px black;
}
