/* * {
        box-sizing: border-box;
      } */

.first {
  min-height: 100vh;
  position: relative;
}

.first_video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-img {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  padding: 0.08em;
}
.aligncenter {
  text-align: center;
  box-shadow: 0 0 10px black;
}
